body {
    padding-bottom:0em;
    margin-bottom:0em;
}

.page_margins {
    padding-bottom:2em;
    margin-bottom:0em;
}

h1 {
    font-size:1.8em;
    line-height:1;
    padding-bottom:0.35em;
    padding-top:1.775em;
    text-transform:uppercase;
    color:#000000;
    font-weight:bold;
}

h2 {
    font-size:1.4em;
}

#swstack a:after {
    content:'';
}

#swstack address {
    font-size:0.9em;
    color:#555;
    margin:3em 0;
}

#swstack table {
    width:100%;
    color:#333;
    cell-spacing:0;
    border-collapse:collapse;
    text-align:left;
}

#swstack td, #swstack th {
    padding:0.25em 0.5em;
    vertical-align:top;
    border-bottom:dotted 1px #B5B6B7;
}

#swstack th {
    background-color:#E1F0F7;
    color:#000;
    border-bottom-style:solid;
}

#swstack td {
    font-weight:normal;
    text-align:left;
}

#swstack tr > th:first-child {
    width:1em;
}

#swstack table img {
    vertical-align:texttop;
    height:1.25em;
}

@media print {
	.Page { 
		page-break-after: always; 
	}

	@page {
		size: landscape;
		margin: 10%;
	}
}

.hidetable {
    display: none;
}


/* overrides */
.layout {
	overflow: hidden;
}

.layout-wrapper {
	outline: 1px solid red;
}

body #header {
	margin-bottom: 0px; /* overrides layout.css line 59 */
}

table.available-graphs {
	margin-right: 2em;
	border: 0px;
}

table.available-graphs td.description {
	vertical-align: top; 
	padding-top:1em;
}

table.available-graphs td, 
table.available-graphs th, 
table.available-graphs tr {
	border: 0px;
}

table.available-graphs img {
	max-width: 221px; /*  overrides bootstrap.min.css line 10 */
}

p.blue-box {
	padding:1em; 
	background-color:#E1F0F7; 
	vertical-align:top;
	margin-top: 14px;
}

.layout-footer h2 {
	font-weight: normal;
}

.boxes-box-content p {
	margin-bottom: 0px;
}

table { /* overrides ec_default.css */
	border: 0px;
}

td, th, tr { /* overrides ec_default.css */
	padding: 0;
	border: 0px;
}

.lod2-logo {
	width: 8em; 
	float: right;
	margin: 0em 4em 0em 4em; 
	border:0px;
}


/* blocks copied from bootstrap.min.css 
	in order to avoid loading yet another stylesheet */
.nav {
	list-style: none;
}

.nav-tabs::before, 
.nav-pills::before, 
.nav-tabs::after, 
.nav-pills::after {
	display: table;
	content: "";
}

.nav-tabs::after, 
.nav-pills::after {
	clear: both;
}

.nav.nav-pills li {
	line-height: 18px;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu {
	border-width: 1px;
}

.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	float: left;
	min-width: 160px;
	_width: 160px;
	padding: 4px 0;
	margin: 0;
	list-style: none;
	background-color: white;
	border-color: #CCC;
	border-color: rgba(0, 0, 0, 0.2);
	border-style: solid;
	border-width: 1px;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}

.dropdown-menu li > a:hover, 
.dropdown-menu .active > a, 
.dropdown-menu .active > a:hover {
	text-decoration: none;
}

.dropdown-menu a {
	display: block;
	clear: both;
	font-weight: normal;
	white-space: nowrap;
}
/* end blocks copied from bootstrap.min.css */


